.container {
	width: 960px;
	margin: 0 auto;
	outline: 2px solid green;
}
.item {
	border: 2px solid red;
}
								/*Сложный фильтр по цене*/
.price-controls {
  position: relative;
  display: block;
  height: 32px;
  margin-left: 12px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}
.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls .max-price {
  width: 90px;
  padding-left: 58px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
	display: block;
	margin-left: 12px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}